<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'Hello ' + ${name} + ' to DB!'"/>
<a id="btn">Click</a>
<p id="test">no value</p>

<script>
    $("#btn").click(function() {
        $.get("/api/v1/hello/test", function(data, status) {
            console.log(data);
            $("#test").text(data.message);
        });
    });
</script>
</body>
</html>